# Supabase REST & API Configuration
VITE_SUPABASE_URL=https://uwcrflplhkshomnxnond.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_p95-dfg6P9L_t6Vbz4txdQ_GhOGAhtU

# PostgreSQL Database Direct Connection String
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.uwcrflplhkshomnxnond.supabase.co:5432/postgres
